package failed_packets_test

import (
	"bytes"
	"testing"

	generated "github.com/admin-else/strom/mc/proto_generated/%v"
)

// Error: %v
func TestFailedPacket%10X(t *testing.T) {
	p := &generated.%v{}
	b := bytes.NewReader(%#v)
	err := p.Decode(b)
	if err == nil {
		t.Fatalf("expected decode error but got nil")
	}
}
